@{
    ViewBag.Title = "Страница сброса пароля";
}

<div style="text-align: center; width: 100%;">
    <div id="resetPassField" class="centerPageDiv">
        <h2>Сброс пароля</h2>

        @using (Html.BeginForm(null, null, null, FormMethod.Post))
        {
            <table style="margin-top: -12px">
                <tr class="spaceUnder">
                    <td>
                        <p style="font-size: 12px; text-align: center; font-style: italic; margin: 0px;">
                            Введите ваш адрес электронной почты и нажмите кнопку сброса пароля, после чего вам придет письмо с уникальной ссылкой, на которую необходимо перейти чтобы сбросить пароль. Ссылка действительна в течение 60 минут.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("email", null, new { size = 30 })
                        <input type="submit" value="Сбросить пароль" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
